<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<!-- <style>
 body {
    margin-top: 2px;
    background: transparent;
  }
.nav-icon {
    width: 26px;
    margin-right: 20px;
  }
#logo-name {
  float: left;
  width: 120px;
  padding-left: 15px;
}
#logo-icon {
  width: 50px;
  padding-right: 20px;
  padding-top: 3px;
  border-right: 1px solid black;
  float: left;
}

#input-field {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  height: 25px;
  padding-left: 10px; 
}

</style> -->

<body>
  <nav class="navbar navbar-dark bg-light " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id='left'>
          <a href='/'>Menu|</a>
        </div>
      </div>

      <div id='center'>
        <form class="navbar-form navbar-left" action="">
          <div class="form-group">
            <input id="input-field" type="text" placeholder='search' style="text-align: center" name="search">
           
          </div>
        </form>
        <h2><strong>awwwards.</strong></h2>
      </div>
      <div id='right'>
        <a class="" href="">Register/Login</a>
        <a class="" href="">Submit your site</a>
       

      </div>
    </div>

  </nav>
</body>

</html>