<!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    body {
      margin-top: 2px;
      background: transparent;
    }
    .nav-icon {
      width: 26px;
      margin-right: 20px;
    }
  </style>
  
  <body>
    <nav class="navbar navbar-dark bg-light sticky-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div id='left'>
  
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <a href="{%url 'welcome'%}" style="color:black;text-decoration: none;">
                  <img src="https://image.flaticon.com/icons/svg/60/60817.svg" alt="" width="30px" height="35px"
                    style="margin-right:20px;margin-left: -10px;"></a>
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="font-family: 'Acme', sans-serif;">View API</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{%url 'projectAPI'%}" style="font-family: 'Acme', sans-serif;">Project API</a>
                  <a class="dropdown-item" href="{%url 'profileAPI'%}" style="font-family: 'Acme', sans-serif;">Profile API</a>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <form class="navbar-form navbar-left" action="{% url 'search_results'%}">
          <div class="form-group">
            <input id="input-field" type="text" placeholder='Search' style="text-align: center" name="search" style="font-family: 'Acme', sans-serif;">
            <!-- <button class="btn bg-white rounded p-0" type="submit"><img
                  src="https://www.freeiconspng.com/uploads/search-icon-png-27.png" alt="" width="32px"
                  height="32px"></button> -->
          </div>
        </form>
  
        <div id='center'>
          <h2 style="font-family: 'Acme', sans-serif;"><strong>awwwards.</strong></h2>
        </div>
  
        <div id='right'>
          <a class="mr-2" href="/accounts/register/" style="color:black;text-decoration: none;font-family: 'Acme', sans-serif;">Register</a>
          <a class="mr-2" href="/accounts/login/" style="color:black;text-decoration: none;font-family: 'Acme', sans-serif;">Login</a>
          <a class="mr-2" href="{% url 'profile' request.user.id %}">
            {% if user.profile.profile_pic %}
            <img style="border-radius:50%;" src="{{user.profile.profile_pic.url}}" alt="" width="70" height="70">
            {% else %}
            <img
              src='https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1'
              class='nav-icon'>
            {% endif %}
          </a>
        </div>
      </div>
    </nav>
  </body>
  
  </html>