{% extends 'base.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <title>Instagram</title>
  {% block styles %} {% bootstrap_css %} {% endblock %}

</head>



<body>


  {% block content %}
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color:grey;margin-top: -3%;">
        <h4 style="margin-left: 40%"><u>Score</u></h4>
        <p style="margin-left: 40%">Design: {{av_design}}</p>
        <p style="margin-left: 40%">Usability: {{av_content}}</p>
        <p style="margin-left: 40%">Content: {{av_content}}</p>
        <p style="margin-left: 40%">Average score: {{av_score}}</p>
        
      </div>
     
      {% for project in projects %}
      <div class="col-md-3">

        <div class="col-md-12 col-md-offset-1 col-sm-12">
          <div class="uk-card uk-card-default uk-card-body uk-width-25-2@m" style="margin-bottom: 5px;">
            <img style=" margin-top: 10px; margin-bottom: 5px;width:350px; height:200px;" src="{{project.image.url}}"
              class="img-thumbnail photo" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
            <hr class="uk-divider-icon">
            <h5 class="uk-card-title" style="color: black;font-family: 'Acme', sans-serif;"><a
                href="{% url 'project' project.id %}">{{project.title}}</a></h5>

          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>